@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

body{
	height: 100%;
}

ul,li{
	list-style: none;
	padding: 0;
}

h2{
	font-size: 2em;
	padding: 0px 0px 30px;
}

pre{
	white-space: pre-line;
}

.section{
	width: 75%;
	height: 100%;
    background: #fff;
    margin: 4rem auto;
    padding: 60px;
}

.tab_menu{
	padding: 0;
	display: flex;
	justify-content: space-between;
	padding-bottom: 2vw;
	margin: 0;
	width: 100%;
}

.tab_menu li{
	display: flex;
	width: 30vw;
	justify-content: center;
	border-radius: 0;
	font-weight: 700;
	line-height: 3rem;
	border: 1px solid #d8dce3;
	padding-left: 0;
	width: 100%;
}

.tab_menu a{
	border-bottom: 0;
}

.form{
	margin: 0;
	
}

.form div{
	font-size: 1.6vw;
	font-weight: 600;
}

.title_wrap{
	display: flex;
}

.form_space{
	padding: 10px 0;
}

.submits{
	display: flex;
    float: right;
    padding-top: 20px;
}

.cate_sel{
	display: flex;
    text-align: center;
	align-items: center;
}

.cate_sel label{
	font-weight: 600;	
}

.cate_sel select{
	font-size:1vw;
	text-align: center;
	text-decoration: none;
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 0.5em;

}

.wrap_option option{
	margin-left: 10px;
    padding: 10px 20px;
    text-align: center;
    font-size:1vw;
}

.submits button{
    text-align: center;
    cursor: pointer;
}

.save_btn{
	font-size:1vw;
	margin-left:10px;
	padding: 10px 20px;
}

.write_btn{
	font-size:1vw;
	padding: 10px 35px;
	margin-left: 10px;
}

.file_sel{
	display: flex;
    float: right;
    position: absolute;
    transform: translate(50vw, 0);
}

.list_btn{
	font-size:1vw;
	display: flex;
	text-align: center;
    justify-content: left;
    padding-top: 20px;
}








