@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
*{
    font-family: 'Noto Sans KR', sans-serif;
}

/* 로고, 타이틀 라인 */
.top{
    width: 50vw;
    height: 12vh;
    /* border : 1px solid black; */
    margin: auto;
    display: flex;
}
.logo_box{
    width : 12%;
    height : 100%;
    border : 2px solid black;
    /* border-radius: 10%; */
}
.logo_box img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.title_box{
    font-family: 'Noto Sans KR', sans-serif;
    display: flex;
    align-items: center;
    font-size: 2.25em;
    margin-left: 40px;
}

/* content 박스 */
.content{
    width: 60vw;
    height: 60vh;
    border: 2px solid black;
    border-radius: 1%;
    margin: auto;
    margin-top: 5vh;
    display: flex;
}
.left_box{
    width: 60%;
    height: 100%;
    /* border : 1px solid orange; */
}

.pay{
    height: 30%;
    /* border : 1px solid orange; */
    display: flex;
    align-items: flex-end;
}

.pay div{
    margin-left: auto;
    margin-right: auto;
    font-size: 2em;
    font-family: 'Noto Sans KR', sans-serif;
}


.text{
    height: 10%;
    /* border : 1px solid orange; */
    display: flex;
    align-items: flex-end;
}

.text div{
    font-family: 'Noto Sans KR', sans-serif;
    margin-left: auto;
    margin-right: auto;
}


.accountORbtn{
    height: 30%;
    /* border : 1px solid orange; */
    display: flex;
    flex-wrap:wrap;
}
.accountORbtn div{
    font-family: 'Noto Sans KR', sans-serif;
    width: 100%;
    text-align: center;
    
}
.accountORbtn button{
    width: 50%;
    margin: auto;
    height: 50%;
    font-size: 1.5em;
}


.right_box{
    width: 40%;
    height: 100%;
    /* border : 1px solid orange; */
    display: flex;
    flex-wrap:wrap;
    
}

.btn_box{
    width: 100%;
    height: 10%;
    /* border : 1px solid black; */
    display: flex;
    align-items: center;
    justify-content : flex-end;
}
.btn_box > button{
    margin-right: 10px;
    background-image: url(../../images/pic02.jpg);
    
 
}


.img_box{
    width: 80%;
    height: 60%;
    /* border : 1px solid black; */
    margin: auto;
    margin-left: 0;
    margin-top: -10vh;
}
.img_box img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}


.bottom{
    margin: auto;
    margin-top: 5vh;
    width: 50vw;
    height: 10vh;
    /* border: 1px solid black; */
    display: flex;
}

.bottom > div{
    width: 50%;
    /* border : 1px solid black; */
    display: flex;
}
.bottom > div > button{
    margin: auto;
    background-image: url(../../images/pic15.jpg);
}







