@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
*{
	font-family: 'Noto Sans KR', sans-serif !important;
}
.group_reg{
    display: flex;
}
.slider{
    font-family: 'Noto Sans KR', sans-serif;
    border : 1px solid #beb9b9;
    width : 63%;
    height : 60vh;
    margin: auto;
}
.slide{
    height : 60vh;
}
.node_box:nth-child(2){
    margin-top: 4vh;
}
.title{
    font-size : 2em;
    /* border: 1px solid; */
    margin: 20px;
}
.node_box{
    /* border: 1px solid; */
    height: 20vh;
    display: flex;
    justify-content : space-around;
}
.node{
    width: 25%;
    height: 100%;
    border : 1px solid #beb9b9;
    cursor : pointer;
    display: flex;
    align-items: center;
}
.service_logo{
    width: 300px;
    height: 100px;
    /* border : 1px solid red;  */
    pointer-events: none;
}

.service_logo > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}


.bank_box{
    width : 80%;
    height: 5vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4vh;
    display: flex;
    justify-content : space-between
}
.bank_icon{
    width: 20%;
    border : 2px solid black;
    text-align: center;
    cursor: pointer;
}
.bank_account{
    width: 70%;
}

.calendar{
    width : 80%;
    height: 35vh;
    margin: auto;
    margin-top: 4vh;
    display : flex;
    
}
.line{
	width : 100%;
    height: 20%;
    display: flex;
    margin : auto;
}
#groupCntText{
	display: flex;
}
#groupCntText > div{
	margin:auto;
}
#groupMemberCnt{
	width:70%;
	padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 20px;
}

.warningBox{
	margin-top : 4vh;
	width:100%;
	display: flex;
	flex-wrap:wrap;
	
}
.warningBox > div {
	width: 100%;
	margin : auto;
	text-align : center;
	color : red;
}


/* =============================================================================================== */
.idpw_box{
    width: 30%;
    height: 35vh;
    /* border : 1px solid black; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 4vh;
}	
.id_box, .pw_box{
    display: flex;
    justify-content : center;
    margin-top: 5vh;
    font-size: 3em;
}
.service_id, .service_pw{
    width : 70%;
    border-bottom: 3px solid black;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}
.safe{
    font-size: 0.8em;
    text-align: center;
    margin-top: 5vh;
}
/* =============================================================================================== */
.submit_box{
    display: flex;
    justify-content : center;
}

/* =============================================================================================== */
.btn_box{
    width : 18%;
    height : 6vh;
    margin: auto;
    /* border: 1px solid black; */
    margin-left: 15px;
    margin-right: 15px;
}

.prev, .next{
    font-size: 3em;
    cursor: pointer;
}

#prev{
    text-align: right;
}

/* =============================================================================================== */
#service{
    display: none;
}
#date{
    display: none;
}
#bank_real{
	display : none;
}


/* 은행 선택 */
#ex1{
    font-family: 'Noto Sans KR', sans-serif;
}
#ex1 > .content{
    display: flex;
    flex-wrap:wrap;
}
.content div{
    /* border : 1px solid black; */
    width: 45%;
    font-size: 0.7em;
    margin: 10px;
    cursor: pointer;
}
.content > input {
    height: 30px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 0.7em;
}

.content > button{
    margin-left: 100px;
}
