@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

.group_reg{
	display: flex;
}
.slider{
	font-family: 'Noto Sans KR', sans-serif;
	border : 1px solid #beb9b9;
	width : 63%;
	height : 60vh;
	margin: auto;
}
.slide{
	height : 60vh;
}
.node_box:nth-child(2){
	margin-top: 4vh;
}
.title{
	font-size : 2em;
	/* border: 1px solid; */
	margin: 20px;
}
.node_box{
	/* border: 1px solid; */
	height: 20vh;
	display: flex;
	justify-content : space-around;
}
.node{
	width: 30%;
	height: 100%;
	border : 1px solid #beb9b9;
	cursor : pointer;
}
.bank_box{
	width : 80%;
	height: 5vh;
	margin-left: auto;
				margin-right: auto;
 			margin-top: 4vh;
	display: flex;
	justify-content : space-between
}
.bank_icon{
	width: 20%;
	border : 2px solid black;
	text-align: center;
	cursor: pointer;
}
.bank_account{
	width: 70%;
}

.calendar{
	width : 80%;
	height: 35vh;
	/* border : 1px solid black; */
	margin: auto;
	margin-top: 4vh;
}
.line{
	height: 20%;
	display: flex;
}
.date{
	width: 14.2857%;
	text-align: center;
	cursor: pointer;
	padding: 13px;
}
/* =============================================================================================== */
.idpw_box{
	width: 30%;
	height: 35vh;
	/* border : 1px solid black; */
	margin-left: auto;
	margin-right: auto;
	margin-top: 4vh;
}	
.id_box, .pw_box{
	display: flex;
	justify-content : center;
	margin-top: 5vh;
	font-size: 3em;
}
.service_id, .service_pw{
	width : 70%;
	border-bottom: 3px solid black;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
}
.safe{
	font-size: 0.8em;
 			text-align: center;
 			margin-top: 5vh;
}
/* =============================================================================================== */
.submit_box{
	display: flex;
	justify-content : center;
}

/* =============================================================================================== */
.btn_box{
	width : 18%;
	height : 6vh;
	margin: auto;
	/* border: 1px solid black; */
	margin-left: 15px;
	margin-right: 15px;
}

.prev, .next{
	font-size: 3em;
	cursor: pointer;
}

#prev{
	text-align: right;
}

/* =============================================================================================== */
#service{
	display: none;
}
#date{
	display: none;
}