<!DOCTYPE HTML>
<html>
	<head>
		<title>Let's Share</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../../../resources/css/htmlMain.css" />
		<link rel="stylesheet" href="../../../resources/css/group/group_view.css" />
		<!-- 모달 -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
		<!-- fullCalendar 사용 -->
		<link href='../../../resources/css/cal_lib/main.min.css' rel='stylesheet' />
	    <script src='../../../resources/css/cal_lib/main.min.js'></script>
    <script>
    	document.addEventListener('DOMContentLoaded', function() {
    		var today = new Date();
    		/* 날짜 지정  */
    		var firstDay = new Date(); 
    		firstDay.setDate(1); //달력은 이번달 초부터 다음달 말까지 표시해준다.
    		var endday = new Date(today.getFullYear(),today.getMonth()+2,0);
    		endday.setDate(endday.getDate()+1);
    		/* 입금일 지정 (el사용하여 입력) */
    		var payDay = '2021-02-17';
    		/* 사용 가능한 날짜 지정(로그인한 사용자 기준) !!(el사용하여 입력) */
    		var accessableDay = '2021-03-14';
    		/* 그룹원(본인,그룹장 제외)이 서비스 사용을 그만둘 날짜 지정 */
    		var member1Day = '2021-03-10';
    		var member2Day = '2021-03-07';
    		/* 그룹장이 서비스 사용을 그만둘 날짜 지정 */
    		var theLastDay = '2021-03-30';
    		/* 캘린더 생성 */
    		var calendarEl = document.getElementById('calendar');
    		var calendar = new FullCalendar.Calendar(calendarEl, {
    			initialView: 'dayGridMonth',
    			validRange: {
       	        	start: firstDay,
       	        	end: endday
       	    	},
       	    	events: [
       	    		{
       	    			id: 'payDate',
       	    			title: '결제일',
       	    			start: payDay,
       	    			color:'red'
       	    		},
       	    		{
       	    			id: 'lastDate',
       	    			title: '그룹 종료',
       	    			start: theLastDay,
       	    			color:'red'
       	    		},
       	    		{
       	    			id: 'member1',
       	    			title: '멤버1 사용기간',
       	    			start: today,
       	    			end: member1Day,
       	    			color:'blue'
       	    		},
       	    		{
       	    			id: 'member2',
       	    			title: '멤버2 사용기간',
       	    			start: today,
       	    			end: member2Day,
       	    			color:'blue'
       	    		},
       	    		{
       	    			id: 'accessableDay',
       	    			start: today,
       	    			end: accessableDay,
       	    			backgroundColor:'#00fff2',
       	    			display:'background'
       	    		}
       	    	],
    			
			});
    	/* 캘린더 크기 지정 */
    	calendar.setOption('contentHeight','auto');
    	/* 캘린더 언어 지정, 캘린더 출력  */
        calendar.setOption('locale','kr');
        calendar.render();
      });

    </script>
	
	</head>
	<body class="no-sidebar is-preload">
		<div id="page-wrapper">
			<!-- Header -->
			<div id="header">
				<div class="inner">
					<header>
						<h1><a href="index.html" id="logo">Let's Share</a></h1>
					</header>
				</div>
			<!-- Nav -->
				<nav id="nav">
					<ul>
						<li><a href="index.html">Home</a></li>
						<li><a href="#">구매자 모집</a></li>
						<li><a href="left-sidebar.html">구매 참여</a></li>
						<li><a href="right-sidebar.html">신고 게시판</a></li>
						<li><a href="no-sidebar.html">공지 사항</a></li>
					</ul>
				</nav>
			</div>

			<!-- Main -->
			<div class="wrapper style1">
				<div class="top">
					<div class="logo_box"><img src="../../../resources/images/netflix.jpg" alt=""></div>
					<div class="title_box">
						<a href="">Netflix 서비스 (No.14422)</a>
					</div>
				</div>
				<div class="content">
					<div class="left_box">
						<div class="pay"><div>결제일 17일</div></div>
						<div class="text"><div>3일전 14일 PM23:00시 까지 3,250원 입금</div></div>
						<div class="accountORbtn">
							<div>신한 11051923231</div>
							<button>가입 하기</button>
						</div>
					</div>
					<div class="right_box">
						<div class="btn_box">
							<button>알림 톡 보내기</button>
						</div>
						<div class="img_box">
							<img src="../../../resources/images/3.png" alt="">
						</div>
					</div>
				</div>
				<!-- 캘린더 호출 -->
				<div class="wrap_calendar">
					<div id="calendar"></div>
					<div id="tip_msg"><div id="color-box"></div>는 내가 서비스를 이용 가능한 기간입니다. </div>
				</div>
				<div class="bottom">
					<div class="">
						<button>ID/PW 확인</button>
					</div>
					<div class="">
						<button>모임 탈퇴</button>
					</div>
				</div>
			</div>
			<!-- Footer -->
			<div id="footer">
				<div style="text-align: center;">Copyright © 1998-2021 KH Information Educational Institute All Right Reserved</div>
			</div>
		</div>
		<!-- Scripts -->
		<script src="../../../resources/js/jquery.min.js"></script>
		<script src="../../../resources/js/jquery.dropotron.min.js"></script>
		<script src="../../../resources/js/jquery.scrolly.min.js"></script>
		<script src="../../../resources/js/jquery.scrollex.min.js"></script>
		<script src="../../../resources/js/browser.min.js"></script>
		<script src="../../../resources/js/breakpoints.min.js"></script>
		<script src="../../../resources/js/util.js"></script>
		<script src="../../../resources/js/main.js"></script>
		<!-- 모달 -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
	</body>
</html>