@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
.wrapper{
	font-family: 'Noto Sans KR', sans-serif;
	min-width:500px;
}
.emailauth{
	height:400px;
}
.emailauth_title{
	font-weight: bold;
	font-size:3.5vw;
	margin-bottom: 1.5%;
	text-align:center;
	
}
.emailauth_content{
	font-size:1.5vw;
	text-align:center;
}