@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

.wrapper{
	padding:2% 2% 2% 2%;
	font-family: 'Noto Sans KR', sans-serif;
}
.left_menu{
	position:fixed;
	left:2%;
	display:flex;
	flex-direction: column;
	height:15%;
	justify-content: space-around;
}
.left_menu>div{
	font-size:14pt;
	font-weight:bold;
}
.wrap_rank{
	width:80%;
	position:relative;
	transform:translateX(20%);
}
.rank_title{
	font-weight: bold;
	font-size:3.5vw;
	margin-bottom: 1.5%;
}
.rank_content{
	border-top:1px solid;
	padding-top:1%;
	display:flex;
	flex-direction: column;
	justify-content: space-around;
}
.myrank_name{
	display:flex;
	justify-content: space-around;
}
.myrank_value{
	margin-top:1%;
	display:flex;
	justify-content: space-around;
}
.ranking_table{
	margin-top:5%;
}
.ranking_table>*{
	text-align: center;

}
.ranking_table td{
	border-color: black;
	border:thin solid;
}
.ranking_table th{
	background-color:lightgray;
	width:20%;
	border-color: black;
	border:thin solid;
}

.link_mygroup{
	align-self:flex-end;
}