@charset "UTF-8";
.wrapper{
	padding:2% 2% 2% 2%;
}
.agreement{
	display:none;
	flex-direction: column;
	flex-wrap: wrap;
	align-items:center;
}
.agreement_title{
	font-weight: bold;
	font-size:3.5vw;
	margin-bottom: 1.5%;
}
.agreement_content{
	height:200px;
	width:100%;
}
.agreement_check{
	margin-top:1%;
	width:20%;
	display:flex;
	align-self:flex-end;
	align-items: center;
}
.agreement_next{
	width:20%;
}
.member_info_title{
	font-weight: bold;
	font-size:3.5vw;
	margin-bottom: 1.5%;	
}
.member_info_form{
	border-top:thin solid;
	display:flex;
	flex-direction: column;
	align-items:center;
	justify-content: space-around;
	height:450px;
	padding-top:2%;
}
.member_info_form label{
	width:60%;
	display:flex;
	align-items:center;
}

.wrap_check{
	width:80%;
	display:flex;
	justify-content: center;
	align-items:baseline;
}
.wrap_check>label{
	width:47%;
}
.wrap_check>button{
	padding:0;
	margin-left:5%;
	width:10%;
	height:70%;
}
.member_info_form span{
	width:30%;
	text-align:right;
	margin-right:20px;

}



