@charset "UTF-8";
.wrapper{
	padding:2% 2% 2% 2%;
}
.login_title{
	font-weight: bold;
	font-size:3.5vw;
	margin-bottom: 1.5%;
}
.loginbox{
	display:flex;
	justify-content: space-between;
	border:thin solid;
	padding: 5%;
}
.loginbox *{
	font-size:1.5vw;
}
.loginform{
	display:flex;
	flex-wrap:wrap;
	width:50%;
	height:30vw;
	flex-direction:column;
	justify-content: space-around;
}

.loginform>*{
	width:100%;
	height:20%
}
.loginform>button{
	font-size: 2vw;
}
.optionbox{
	display:flex;
	flex-wrap:wrap;
	width:50%;
	height:30vw;
	flex-direction:column;
	justify-content:space-around;
	
}
.optionbox>*{
	width:100%;
	height:20%;
	align-items:center;
	display:flex;
	justify-content: center;
}
.optionbox>label{
	margin-left:5%;
	justify-content:left;
	align-items:center;
}


